<%=render "navbar"%>
<h3>Event <span class="label label-warning">New</span></h3>
<br>
	<%= render 'form' %>
<ul class="pager">
	  <li class="previous"> <%= link_to(content_tag(:rel, "Back" , href:"animate.min.css"),{:action => "index", :event_id =>@event.id}, class: 'animated bounceInLeft') %>
	</li><span aria-hidden="true"></span> </a></li>
</ul>
