	<%= render 'form3' %>
<br>
<ul class="pager">
    <li class="previous"> <%= link_to(content_tag(:rel, "Back" , href:"animate.min.css"),events_path, class: 'animated zoomInDown','data-no-turbolink' => true) %>
	</li><span aria-hidden="true"></span> </a></li>
</ul>