<%=form_for :comment  do |f| %>
	<div class="newcomment">
		<%=f.text_area :newcomment,class: "input-group form-control",placeholder: "Add comment"%>
	</div>
	<br>
	 <%= f.submit "Post", class: 'btn btn-primary' %>
<%end%>