<br>
<%=form_for :comment  do |f| %>
	<div class="newcomment">
		<%=f.text_area :newcomment,class: "input-group form-control",placeholder: "Add comment"%>
	</div>
	<br>
	 <%= link_to "Post",{:action => "update"}, class: 'btn btn-primary',:method => :put %>
<%end%>