<h3>Comment <span class="label label-primary">New</span></h3>
<%= render 'form' %>
<ul class="pager">
    <li class="previous"> <%=link_to "Comments",{:action => "index"}%></li><span aria-hidden="true"></span> </a></li>
</ul>