#myevents{
	.list-group{
		.list-group-item-danger{
		   width: 200px;	
		}
		.list-group-item-success{
		   width: 200px;	
		}
		.list-group-item-warning{
		   width: 200px;	
		}
		.panel-primary{
			width: 200px;
		}
	}
}